.products {
    margin-bottom: 100px;
    &__title {
        font-weight: bold;
        font-size: 36px;
        line-height: 45px;
        text-align: center;
        color: #555555;
    }

    .my-corousel {
        height: 874px;
        overflow: hidden;
        margin-bottom: 15px;
    }

    &__list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        padding: 0;
        flex-wrap: wrap;
        margin-bottom: 45px;
        transform: translateY(0px);
        transition: transform 0.5s ease-in;
    }  

    .corousel-box {
        display: flex;
        justify-content: center;
        .prev-btn, .next-btn {
            background: #7AC751;
            border-radius: 2px;
            border: none;
            font-weight: 600;
            font-size: 18px;
            line-height: 23px;
            display: flex;
            align-items: center;
            color: #FFFFFF;
            padding: 12px 20px;
            margin: 0 10px;
            cursor: pointer;

            &:active {
                background: #369602;
            }

            
        }
    }
    .page-block {
        margin-left: auto;
        width: 200px;
        display: flex;
        transform: translateY(-40px);

        span {
            font-size: 18px;
            line-height: 130%;
            display: flex;
            align-items: center;
            letter-spacing: 0.008em;
            color: #757575;
        }
        .page-num {
            margin-left: 9px;
            padding: 7px 24px;
            background: #F8FAFB;
            border: 1px solid #CCCCCC;
            box-sizing: border-box;
            border-radius: 2px;
            margin-right: 19px;
        }

        .page-sum {
            margin-left: 10px;
        }
    }
}
