.trending {
    margin-bottom: 90px;
    &__title {
        text-align: center;
        font-weight: bold;
        font-size: 36px;
        line-height: 45px;
        color: #555555;
        text-transform: uppercase;
        margin-bottom: 45px;
    }

    &__menu{
        list-style-type: none;
        padding: 0;
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 73px;

        &-item {
            font-weight: 600;
            font-size: 24px;
            line-height: 30px;
            color: #C2C2C2;
            cursor: pointer;

            &:hover {
                color: $bg-color;
            }
        }
    }

    &__list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        padding: 0;
        flex-wrap: wrap;
        margin-bottom: 45px;

        &-item {
            position: relative;
            width: 270px;
            margin-bottom: 45px;
            overflow: hidden;
            height: 392px;

            img {
                margin-bottom: 15px;
            }

            .trending__hrefs {
                list-style-type: none;
                display: flex;
                flex-direction: column;
                position: absolute;
                right: 10px;
                bottom: 135px;

                &-item {
                    width: 38.85px;
                    height: 38.89px;
                    background: #FFFFFF;
                    border-radius: 50%;
                    margin-bottom: 9px;
                    padding: 9px;
                    cursor: pointer;
                    transform: translateX(50px);
                    box-shadow: 0px 2px 33px rgba(0, 0, 0, 0.09);
                }

                &-item:nth-child(1) {
                    transition: 0.5s transform ease-in-out;
                }
                &-item:nth-child(2) {
                    transition: 0.4s transform ease-in-out;
                }
                &-item:nth-child(3) {
                    transition: 0.3s transform ease-in-out;
                }
                &-item:nth-child(4) {
                    transition: 0.2s transform ease-in-out;
                }
            }

            &:hover {
                .trending__hrefs-item {
                    transform: translateX(0px);
                }

                .opasity {
                    position: absolute;
                    top: 0;
                    width: 269px;
                    height: 287px;
                    background: rgba($color: #000000, $alpha: 0.2);
                }
            }
        }

        &-page {
            position: absolute;
            width: 44px;
            height: 20px;
            font-weight: 600;
            font-size: 12px;
            background: #00B7F1;
            border-radius: 0px 0px 5px 0px;
            text-align: center;
            vertical-align: bottom;
            letter-spacing: 0.008em;
            color: #FFFFFF;
            z-index: 99;
        }

        &-box {
            .cate {
                font-size: 14px;
                margin: 0;
                text-transform: uppercase;
                color: rgba(117, 117, 117, 0.71);
            }

            div {
                display: flex;
                justify-content: space-between;

                span {
                    font-weight: bold;
                    font-size: 18px;
                    text-align: center;
                    letter-spacing: 0.005em;
                    color: #7AC751;
                }
                del {
                    font-weight: bold;
                    font-size: 18px;
                    color: #CCCCCC;
                    margin-right: 70px;
                }
            }
        }

        &-title {
            font-size: 20px;
            margin: 0px 0 9px 0;
            color: #555555;
        }
    }   
}